.main-wrapper > * {
  margin-bottom: var(--indent);
}

/** SEARCH SECTION */
.search-section {
  display: flex;
  width: 100%;
  gap: 24px;
}

#search-bar {
  padding-left: 14px;
  padding-right: 40px;
}

#search-btn {
  cursor: pointer;
  transition: 0.25s;
}

#search-btn:hover {
  color: var(--blue);
}

.search-section > .input-with-icon > i {
  left: unset;
  right: 8px;
}
/* 
#filter-btn {
  width: auto;
}

@media (max-width: 600px) {
  #filter-btn .btn-name {
    display: none;
  }
} */

.nothing-found {
  font-size: clamp(24px, calc(min(100vh, 100vw) * 32 / 800), 32px);
  font-weight: 700;
}

/** GENRES SECTION */
.swiper-slide {
  width: fit-content !important;
}

.swiper-container {
  width: 100%;
}
.swiper-wrapper {
  padding: 10px;
}

.genre-card {
  cursor: pointer;
  width: 80px;
  height: 90px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: 0.25s;
  justify-content: space-evenly;
}

.genre-card:not(.selected):hover {
  /* background: var(--transparent-blue); */
  /* box-shadow: 0 0 0 2px var(--transparent-dark-blue) inset; */
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 0.1);
}

/* .genre-card img {
  max-width: 35px;
  max-height: 35px;
} */

.genre-card > .iconify {
  font-size: 30px;
}

.genre-name {
  font-size: 14px;
  color: var(--dark-blue);
}

.genre-card.selected {
  background-color: var(--dark-blue);
}

.genre-card.selected > .genre-name {
  color: white;
}

/** MOVIE_CARDS SECTION  */
.movie-cards-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  justify-content: center;
}

.movie-card {
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.25s ease-out 0s;
}

.movie-card .overlay-link {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.movie-card > .image-wrapper > img {
  transition: 0.25s ease-out 0.1s;
}

.movie-card:hover > .image-wrapper > img {
  transform: scale(1.025);
  filter: brightness(1.1);
}

.movie-card > .image-wrapper {
  height: 320px;
  position: relative;
}

.movie-card > .image-wrapper > img {
  position: absolute;
  object-fit: cover;
  box-shadow: 0px 0px 50px 10px rgba(48, 54, 90, 0.1) inset;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
}

.movie-card > .movie-info {
  height: fit-content;
  box-sizing: border-box;
  z-index: 1;
  width: 100%;
  padding: 24px;
  background-color: #202332;
  color: white;
  display: flex;
  align-items: flex-start;
}

.movie-card > .movie-info > .text-part {
  display: flex;
  width: 70%;
  flex-grow: 1;
  flex-direction: column;
}

.movie-card > .movie-info > .text-part > .movie-title {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
}

.movie-card > .movie-info > .text-part > .movie-genres {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600px;
  color: rgb(255, 255, 255, 0.75);
}

.movie-card > .movie-info > i {
  color: rgb(255, 255, 255, 0.75);
  height: fit-content;
  cursor: pointer;
  z-index: 3;
  font-size: 28px;
  transition: 0.25s;
  align-self: flex-start;
}

.movie-card > .movie-info > i:hover {
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0, 2);
}

.pagination-section > .pagination {
  width: 100%;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination_item > .pagination_link {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111426;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.25s ease;
}

.pagination_item:not(.active) > .pagination_link:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 var(--transparent-dark-blue);
}

.pagination_item.active > .pagination_link {
  background-color: var(--dark-blue);
  color: white;
}

@media (max-width: 600px) {
  .pagination_item > .pagination_link {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
}
