.movie-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: clamp(30px, calc(40 * min(100vh, 100vw) / 800), 40px);
  font-weight: 800;
  line-height: 120%;
  /* margin-bottom: 8px; */
}

.main {
  padding: 1rem;
  padding-bottom: 40px;
}

.movie-info {
  font-size: clamp(14px, calc(20 * min(100vh, 100vw) / 800), 20px);
  font-weight: 600;
  margin: 0 0 8px 0;
  color: var(--blue);
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.info-block {
  position: relative;
}

.movie-info > .info-block + .info-block::before {
  content: "";
  width: 0;
  height: 75%;
  transform: translateY(3px);
  left: -8px;
  position: absolute;
  border-left: 2px solid var(--dark-blue);
}

.movie-info > .info-block#genresBlock {
  color: #7a80a2;
  font-weight: 700;
}

.movie-info > .info-block#movieDurationBlock i {
  transform: translateY(10%);
}

.video-wrapper {
  background-color: var(--gray);
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.videoWrapper > iframe {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-title {
  font-size: clamp(24px, calc(30 * min(100vh, 100vw) / 800), 30px);
  font-weight: 800;
  line-height: 1;
}

.directors-and-actors {
  width: 100%;
}

.swiper-container {
  height: 100%;
  margin-top: 8px;
}

.text {
  font-size: clamp(14px, calc(18 * min(100vh, 100vw) / 800), 18px);
  font-weight: normal;
}

.slider-card {
  padding: 10px 0;
  width: 150px;
  background-color: white;
  height: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-card > .image-wrapper {
  height: 130px;
  width: 130px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.slider-card > .image-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-card > .person-info {
  color: var(--dark-blue);
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  box-shadow: var(--shadow);
  font-weight: 600;
}

.slider-card > .person-info > .person-role {
  color: #7a80a2;
}

.section {
  margin-top: 12px;
  position: relative;
}

.swiper-slide {
  width: auto !important;
}

.hidden {
  display: none !important;
}

.comments .image-wrapper {
  height: 35px;
  flex-shrink: 0;
  width: 35px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.comments .image-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-wrapper {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
  display: flex;
  gap: 15px;
}

.write-comment-wrapper {
  background-color: white;
  margin: 12px 0 24px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}

.write-comment-wrapper > * {
  padding: 15px;
}

.comment-field-main {
  border-top: 3px solid var(--light-gray);
}

.comment-wrapper > .text-part {
  font-size: clamp(14px, calc(18 * min(100vh, 100vw) / 800), 18px);
  color: var(--dark-blue);
}

.user-username {
  font-size: clamp(16px, calc(20 * min(100vh, 100vw) / 800), 20px);
  color: var(--blue);
  line-height: 16px;
  font-weight: 700;
}

.comments-list,
.write-comment,
.btn#load-more {
  margin: 12px 0;
}

.write-comment-wrapper {
  background-color: white;
  flex-direction: column;
}

.write-comment-wrapper > * {
  display: flex;
  gap: 15px;
  align-items: center;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: var(--indent);
}

.write-comment-wrapper .comment-field-toggle {
  font-size: 30px;
  cursor: pointer;
}

.write-comment-wrapper .user-username {
  flex-grow: 1;
}

.comment-field-main > .btn {
  width: auto;
}
.write-comment {
  margin: 12px 0 24px 0;
}

.less-more.less {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.less-more {
  line-height: 24px;
  transition: 1s;
}

.more-less-toggle,
.text-btn {
  color: var(--blue);
  font-weight: 700;
  font-size: clamp(14px, calc(18 * min(100vh, 100vw) / 800), 18px);
  cursor: pointer;
}

.text-btn {
  font-size: clamp(16px, calc(20 * min(100vh, 100vw) / 800), 20px);
}

.write-comment-wrapper .comment-field-toggle:hover,
.text-btn:hover {
  filter: brightness(150%);
}

.text-btn > i {
  font-weight: 700;
}

/* @media (max-width: 600px) {
  .movie-info {
    font-size: 16px;
  }
  .section-title {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
  .slider-card > .person-info {
    font-size: 14px;
  }
  .comment-wrapper > .text-part {
    font-size: 14px;
  }
  .user-username {
    font-size: 16px;
    color: var(--blue);
    line-height: 16px;
    font-weight: 700;
  }
  .write-comment-wrapper .comment-field-toggle {
    font-size: 24px;
    cursor: pointer;
  }
  .text-btn {
    font-size: 18px;
  }
} */
