:root {
  font-size: 16px;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Poppins", sans-serif;

  /*? variables */
  --footer-height: 50px;
  --navbar-width: 80px;
  --indent: 24px;

  /*? colors */
  --light-gray: #e9eef4;
  --gray: #c4c4c4;
  --dark-gray: #777777;
  --dark-blue: #111426;
  --blue: #30365a;

  /*? shadows */
  --main-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a,
a:hover,
a:focus,
a:active {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

i {
  transform: translateY(1%);
}

html,
body {
  color: var(--dark-blue);
  height: 100%;
  background-color: var(--light-gray);
}

.content-wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  /* row-gap: var(--indent); */
  margin-left: var(--navbar-width);
}

.navbar {
  transition: 0.25s;
  z-index: 100;
  background-color: var(--dark-blue);
  position: fixed;
}

.nav-list {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-section {
  width: 100%;
  transition: 0.25s;
}

.nav-exit {
  margin-top: auto;
}

.nav-link {
  display: flex;
  height: var(--navbar-width);
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
}

.nav-link > i {
  background-color: #ffffff20;
  padding: 5px;
  border: 3px solid #404070;
  border-radius: 10px;
  font-size: 30px;
  margin: 0 auto;
  filter: brightness(90%);
}

.nav-item:not(.selected):hover,
.nav-exit:hover {
  filter: brightness(130%);
}

.logo-link {
  background-color: var(--blue);
  font-weight: bold;
  margin-bottom: 1rem;
}

.logo-link > i {
  filter: brightness(200%);
  /* border-color: #b63d0b; */
  background-color: transparent;
  font-size: 40px;
}

.nav-list > .selected {
  filter: brightness(200%);
}

.header > .mobile-logo {
  display: none;
  color: var(--dark-blue);
  font-size: 40px;
}

@media (max-width: 600px) {
  .content-wrapper {
    margin: 0;
    padding-bottom: var(--navbar-width);
  }

  .navbar {
    bottom: 0;
    width: 100%;
    height: var(--navbar-width);
  }

  .nav-list {
    flex-direction: row;
  }
  .nav-logo {
    display: none;
  }
}

@media (min-width: 601px) {
  .navbar {
    top: 0;
    width: var(--navbar-width);
    height: 100%;
  }
}

@media (max-width: 420px) {
  .header > .page-name {
    display: none;
  }

  .header > .mobile-logo {
    display: block;
  }
}

@media (max-height: 420px) {
  .nav-logo {
    display: none;
  }
}

.header,
.footer {
  display: flex;
  align-items: center;
  padding: 0 var(--indent);
  justify-content: space-between;
}

.header {
  background-color: white;
  height: var(--navbar-width);
}

.footer {
  background-color: var(--blue);
  height: var(--footer-height);
}

.main {
  position: relative;
  padding: var(--indent);
  display: flex;
  gap: var(--indent);
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main-wrapper {
  width: 100%;
  max-width: 900px;
}

.header > .user-info {
  display: flex;
  align-items: center;
}

.header > .page-name {
  font-size: 36px;
  font-weight: 800;
}

.header > .user-info > .text-part {
  display: inline-flex;
  flex-direction: column;
}

.header > .user-info > .text-part > span {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-align: right;
  color: var(--gray);
  transition: 0.25s;
}
.header > .user-info > .text-part > .username {
  color: var(--dark-gray);
}

.header > .user-info > .profile-image-wrapper {
  width: 35px;
  height: 35px;
  margin-left: calc(var(--indent) / 2);
  overflow: hidden;
  background-color: var(--gray);
  border-radius: 20px;
}

.header > .user-info > .profile-image-wrapper > .profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer > .CS50-info > .CS50-logo {
  font-weight: 900;
  font-size: 20px;
}

.footer > .footer-item {
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--gray);
  transition: 0.25s;
}

.footer > .footer-item > i {
  font-size: 30px;
}

.footer > .footer-item:hover {
  color: white;
}
