{% extends 'accounts/password_reset_base.html' %}

{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" id="accounts-form">
      <div class="text ">
        <h2>Enter new password</h2>
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      </div>
      {% csrf_token %}
      <div class="input-item">
        <label class="label" for="new_password1">
          {{form.new_password1.label}}
        </label>
        {{form.new_password1}}
        {{form.new_password1.errors}}
      </div>
      <div class="input-item">
        <label class="label" for="new_password2">
          {{form.new_password2.label}}
        </label>
        {{form.new_password2}}
        {{form.new_password2.errors}}
      </div>
      <button class="btn" type="submit">change password</button>
    </form> 
  </div>
{% endblock content %}